$blue: #0047bb;
$yellow: #EEDC00;
$white: #FFF;
$dark-grey: #333;
$mild-grey: #999;
$light-grey: #CCC;

* {
  outline: none;
}

::selection {
  background-color: white;
  text-shadow: none;
}

@import "mixin";

.hidden {
  display: none;
  opacity: 0;
  @include transition(.2s);
}

@font-face {
  font-family: 'nlicons';
  src:url('../fonts/nlicons/nlicons.eot');
  src:url('../fonts/nlicons/nlicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nlicons/nlicons.woff') format('woff'),
    url('../fonts/nlicons/nlicons.ttf') format('truetype'),
    url('../fonts/nlicons/nlicons.svg#nlicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* general style for the form */
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  font-size: 4em;
  line-height: 1.5;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  input,
  select,
  button {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input:focus {
    outline: none;
  }

}


/* normalize the input elements, make them look like everything else */

/* custom field (drop-down, text element) styling  */
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
  line-height: inherit;
  display: inline-block;
  color: $blue;
  cursor: pointer;
  border-bottom: 1px dashed $blue;
}

.sending {
  font-size: 1em !important;
  .recipient {
    padding:10px;
    background:#EFEFEF;
    .separator {
      margin-bottom:40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sender {
    padding:10px;
    background:#FFFFFF;
    .separator {
      margin-bottom:40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-item {
    width:300px;
    max-height: 100px;
    float:left;
    margin-right:20px;
    font-size: 1em;

    &.small {
      width:90px;

      label,
      input {
        width:90px;
      }
    }
    label {
      width:200px;
      font-size: 14px;
      line-height: 14px;
      height: 14px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    input.text_input {
      color: $blue;
      font-size: 24px;
      &::-webkit-input-placeholder {
        color: $mild-grey!important;
      }
      &::-moz-input-placeholder {
        color: $mild-grey!important;
        opacity: 1;
      }
    }
  }
}
.added-services {
  width:75%;
  margin:10px auto;

  .service {
    background:$yellow;
    width:45%;
    height: 120px;
    float: left;
    margin-right:20px;
    margin-bottom:20px;
    @include transition(.2s);
    h3 {
      text-align: left;
      padding: 20px;
      margin:0;
      text-transform: none !important;
      font-weight: 700 !important; 
    }
    &.active {
      background:white;
      border:2px solid $blue;
    }
    &:hover {
      background:$light-grey;
      color: $blue;
    }
  }

  .rr {
    background:url(../images/ricevuta.png) $yellow  bottom right no-repeat;
  }

  .check {
    background:url(../images/contrassegno.png)  $yellow bottom right no-repeat;
  }

  .assicurata {
    background:url(../images/assicurata.png) $yellow  bottom right no-repeat;
  }
}

.content {
  margin-top:0;
  background:url('../images/cover.jpg') no-repeat top right;
  width:100%;
  .left {
    width:45%;
    float: left;
    padding:20px;
    h2 {
      font-size: 42px;
      color: $blue;
    }
    .text {
      color: $dark-grey;
    }
  }
}


/* drop-down list / text element */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: $blue;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  color: #fff;
  position: relative;
}

.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: $yellow;
}

.no-touch .nl-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
  color: #478982;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.next-slide:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

.nl-ti-text ul {
  min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

.nl-form {
  .choice {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $blue;
  }
}

.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
  color: $mild-grey;
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
  color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0,0,0,0.2);
  border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}

/* submit button */
.next-slide-wrap {
  margin-top: 0.4em;
}

.nl-form .total {
  position:absolute;
  bottom:40px;
  left:40px;
  font-size: 32px;
  color: $blue;
  font-weight: 700;
}


.next-slide {
  position:absolute;
  bottom: 40px;
  right: 40px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  background: white;
  color: $blue;
  padding: 0 1em 0 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  width:400px;
  border:2px solid $blue;
  height: 80px;
  @include transition(.2s); 
  &:hover {
    background:$blue;
    color:white;
    &:after {
      height: 76px;
      font-family:"nlicons";
      content: "\e001";
      color: $blue;
      position:absolute;
      top:0;
      right:0;
      padding: 0 0.7em;
      margin: 0 0 0 0;
      background: $white;
    }
  }
  &.active {
    background:$yellow;
    color: $blue;
  }
}

.next-slide:after {
  @include transition(.2s);
  height: 76px;
  font-family:"nlicons";
  line-height: 76px;
  content: "\e001";
  color: #fff;
  position:absolute;
  top:0;
  right:0;
  padding: 0 0.7em;
  margin: 0 0 0 0;
  background: $blue;
}

.no-touch .nl-form .next-slide:hover,
.no-touch .nl-form .next-slide:active {
  background: $yellow;
}

.no-touch .nl-form .next-slide:hover:before {
  background: $blue;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-width: 45em) {
  .nl-form {
    font-size: 3em;
  }
}

@media screen and (max-width: 25em) {
  .nl-form {
    font-size: 2em;
  }
}

/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@font-face {
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Open Sans', Calibri, Arial, sans-serif;
  color: $mild-grey;
  background: $white;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover,
a:active {
  color: #333;
}

.transition {
  opacity: 1;
  @include transition(.5s);
}

.container {
  width:100%;
  position:relative;
  min-height: 650px;

  .slide {
    position:absolute;
    width:100%;
    min-height: 650px;
    background:white;
    @include transition(0.5s);
    &.active {
      transform: scale(1);
      opacity: 1;
      z-index:10;
    }
    &.inactive {
      transform: scale(0);
      opacity: 0;
      z-index:0;
    }

    h3 {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      color: $blue;
    }
  }

  .thanks {
    text-align: center;
    h1 {
      font-size: 42px;
      color: $blue;
      text-transform: uppercase;
    }
  }

}

/* Header Style */
.main,
.container > header {
  margin: 0 auto;
  padding: 2em;
}

.container > header {
  text-align: left;
  background: $yellow;
  color: $blue;
  position:relative;

  .flag {
    position:absolute;
    right:40px;
    top:40px;
    height: 40px;
    overflow: hidden;
    border:2px solid white;
    img {
      width: auto;
      height: 40px;
      &.active {
        border:2px solid white;
      }
    }
    
  }

  h1 {
    font-size: 2.7em;
    line-height: 1.3;
    margin: 0;
    font-weight: 700;
  }
  span {
    display: block;
    font-size: 60%;
    color: #b14943;
    padding: 0 0 0.6em 0.1em;
  }
}

/* Main Content */
.main {
  max-width: 100em;
  margin-top:50px;
}


.camera {
  position: relative;
  .overlay {
    position: absolute;
    width:240px;
    height: 320px;
    top:0;
    left:0;
    z-index: 999999;
    .top,
    .bottom {
      width:100%;
      height: 5px;
      position:absolute;
      &:before {
        content:'.';
        display: block;
        position:absolute;
        width:50px;
        height: 5px;
        background-color: green;
        left:0;
      }

      &:after {
        content:'.';
        display: block;
        position:absolute;
        width:50px;
        height: 5px;
        background-color: green;
        right:0;
      }
    }

    .top {
      top:0;
    }

    .bottom {
      bottom:0;
    }
    
    .left,
    .right {
      position: absolute;
      &:before {
        content:'.';
        display: block;
        position:absolute;
        height:50px;
        width: 5px;
        background-color: green;
        left:0;
        top:0
      }

      &:after {
        content:'.';
        display: block;
        position:absolute;
        height:50px;
        width:: 5px;
        background-color: green;
        right:0;
        top:0
      }
    }
  }
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

.codrops-icon-archive:before {
  content: "\e002";
}

.codrops-icon-next:before {
  content: "\e000";
}

.codrops-icon-about:before {
  content: "\e003";
}

@media screen and (max-width: 25em) {

  .codrops-icon span {
    display: none;
  }

}